<div class="container33">
    
	<div class="top-content">
		<div class="content">
			<div class="titlebar">
				<div class="titlebar__title--container">
					<div class="titlebar__title--container__title">{{movi.titulo}}</div>
					<ul class="titlebar__title--container__info">
						<li class="titlebar__title--container__info--item">{{movi.ano}}</li>
					</ul>
				</div>

			</div>
			<div class="subnav">
				<ul class="subnav__list">
					<li class="subnav__list--item">
						
					</li>

				</ul>
				<div class="subnav__actions">
					<div class="subnav__action">
						
						
					</div>
					<div class="subnav__action"></div>
				</div>
			</div>
			<div class="media">
				<div class="media__poster relative">
					<img src="{{movi.imagen}}" alt="Star Wars The Empire Strikes Back Poster" class="poster" />
					<div class="media__poster--action">
						<i class="fas fa-bookmark relative">
							<i class="fas fa-plus"></i>
						</i>
					</div>
				</div>
				<div class="media__trailer relative">
					
						<iframe class="trailer" width="700" height="400" src="{{movi.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					
					<div class="media__trailer--action" title="Video Preview Preference">
						<i class="fas fa-ellipsis-v"></i>
					</div>
				</div>

			</div>
			<div class="hero">
				<div class="hero__content">
					<ul class="hero__genres">
						<li class="hero__genre">{{movi.actores}}</li>
					</ul>
					<p class="hero__description">
						{{movi.resena}}
					</p>
					<ul class="hero__cast">
						<li class="hero__cast--row">
							<span class="hero__cast--title">Director</span>
							<span class="hero__cast--name">{{movi.director}}</span>
						</li>
						

							<div class="hero__cast--expand flex-align-right"></div>
						</li>
						<li class="hero__cast--row">

						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div class="bottom-content">
		
	</div>
</div>